<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>564751904449-98e0ro6qnimgcbrs8skhhm3g49aqng9f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.564751904449-98e0ro6qnimgcbrs8skhhm3g49aqng9f</string>
	<key>API_KEY</key>
	<string>AIzaSyAWJAnRLmntMQvMD2bl0ui3WHXvtJuNZGE</string>
	<key>GCM_SENDER_ID</key>
	<string>564751904449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.proton</string>
	<key>PROJECT_ID</key>
	<string>proton-911e9</string>
	<key>STORAGE_BUCKET</key>
	<string>proton-911e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564751904449:ios:cf34482e2f01d15e962e40</string>
</dict>
</plist>